.root {
    -fx-background-color: #e9b9a9;
    -fx-font-size: 14pt;
}
.label {
    -fx-text-fill: #483D8B;
}
.label-green {
    -fx-background-color: #e9b9a9;
    -fx-text-fill: #556B2F;
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-stroke: #9400D3;
}
.button {
    -fx-background-color: #8B008B;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #9400D3;
    -fx-stroke-width: 10;
}
.menu-item {
    -fx-background-color: #808000;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #9400D3;
}
.menu-bar {
    -fx-background-color: #808000;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #9400D3;
}